{% extends 'main/base.html' %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Remaining PDF</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for('static', filename='pdf/' + filename) }}" class="btn btn-info" download="extracted_pages.pdf">Descargar PDF</a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('download_xlsx', filename=filename) }}" class="btn btn-secondary" download>Download XLSX</a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('view_pdf_tables', filename=filename) }}" class="btn btn-danger">View PDF Tables</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <embed src="{{ url_for('static', filename='pdf/' + filename) }}" width="100%" height="600" type="application/pdf">
            </div>
        </div>
    </div>
</div>

{% endblock %}
